@import "_mixins/get_sprite.scss";

html, body {
    width: 100%;
    height: 100%;
    background-color: #359cdc;
    font-family: 'Graduate';
}

.separator--light {
    @include sprite-asset( separator_small_light );
}

.separator--gray {
    @include sprite-asset( separator_small_gray );
}

.separator--vertical {
    @include sprite-asset( separator_dots );
}

.selector {
    @include sprite-asset( perso_selector );
}

.background {
    position: absolute;
    bottom: 70px;
    width: 100%;
}

.background__line--blue_dark {
    height: 165px;
    background-color: #37a3e7;
}

.background__line--blue_medium {
    height: 110px;
    background-color: #59b1e8;
}

.background__line--blue_light {
    height: 65px;
    background-color: #b0d3e8;
}

.background__line--yellow {
    height: 55px;
    background-color: #f8f4eb;
}

.background__line--orange_light {
    height: 25px;
    background-color: #f8e9e0;
}

.background__line--orange_medium {
    height: 20px;
    background-color: #f8dbce;
}

.background__line--red {
    height: 10px;
    background-color: #f8d1c3;
}

.background__line--green_dark {
    height: 30px;
    background-color: #a6aa59;
}

.background__line--green_light {
    height: 5px;
    background-color: #c7cc6b;
}

.background__line--brown {
    height: 20px;
    background-color: #e8af72;
}

.landscape {
    position: absolute;
    width: 100%;
    height: 100%;
}

.landscape__clouds {
    position: absolute;
    bottom: 560px;
    width: 100%;
}

.landscape__cloud {
    position: absolute;
    left: 50%;
}

.landscape__cloud--cloud0 {
    @include sprite-asset( cloud0 );
    margin-left: 220px;
    top: -18px;
}

.landscape__cloud--cloud1 {
    @include sprite-asset( cloud1 );
    margin-left: 285px;
    top: 55px;
}

.landscape__cloud--cloud2 {
    @include sprite-asset( cloud2 );
    margin-left: -320px;
    top: 50px;
}

.landscape__cloud--cloud3 {
    @include sprite-asset( cloud3 );
    margin-left: -210px;
}

.landscape__cloud--cloud4 {
    @include sprite-asset( cloud4 );
    margin-left: 150px;
    top: 40px;
}

.landscape__characters {
    position: absolute;
    width: 100%;
    bottom: 279px;
}

.landscape__character {
    position: absolute;
    left: 50%;
}

.landscape__character--human {
    @include sprite-asset( perso );
    margin-left: -200px;
}

.selector--human {
    position: relative;
    top: -30px;
    margin: 0 auto;
}

.landscape__character--dog {
    @include sprite-asset( dog );
    margin-left: -170px;
    top: 106px;
}

.landscape__tree {
    @include sprite-asset( tree );
    position: absolute;
    left: 50%;
    margin-left: 140px;
    bottom: 118px;
}

.landscape__fences {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 160px;
}

.landscape__fences--left {
    @include sprite-asset( fence_left );
    position: absolute;
    left: 0;
}

.landscape__fences--right {
    @include sprite-asset( fence_right );
    position: absolute;
    right: 0;
}

.content {
    position: absolute;
    width: 540px;
    bottom: 179px;
    left: 50%;
    margin-left: -270px;
}

.logo {
    margin: 0 auto;
    position: relative;
    width: 255px;
    margin: 0 auto;
}

.logo__title {
    @include sprite-asset( logo );
    position: relative;
    left: 5px;
}

.logo__icon {
    @include sprite-asset( logo_icon );
    position: relative;
    margin: 0 auto;
    top: -28px;
}

.content__separator_big_dots {
    position: relative;
    top: -5px;
    margin: 0 auto;
}

.content__description {
    text-align: center;
    color: #d9efff;
    font-size: 12px;
    position: relative;
    top: 3px;
}

.content__description--title {
    border: 0;
    margin: 0;
    padding: 0;
}

.content__description--title,
.content__description--link {
    color: #fff;
}

.content__description--link:hover {
    color: #d9efff;
}

.content__separator_vertical {
    margin: 0 auto;
    margin-top: 30px;
}

.preview_world__banner {
    @include sprite-asset( banner_white );
    margin: 35px auto 0;
    text-align: center;
    color: #37a3e7;
    font-size: 10px;
    line-height: 28px;
    position: relative;
    z-index: 1;
}

.preview_world__button {
    position: relative;
    display: block;
    width: 155px;
    height: 65px;
    margin: 0 auto;
    top: -10px;
    overflow: hidden;
    span {
        display: block;
    }
}

.world_diaporama {
    width: 100%;
    height: 100%;
    position: relative;
}

.world_diaporama__item {
    position: absolute;
    top: 0;
    left: 0;
}

.world_layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba( 95, 198, 255, .8 );
}

.world_layer__icon {
    @include sprite-asset( world_layer_icon );
    position: relative;
    margin: -14px auto 0;
    top: 50%;
}

.layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.layer--dark {
    background-color: rgba( 0, 0, 0, .5 );
}

.gallery {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.gallery__bt_close {
    @include sprite-asset( bt_close_top_bg );
    position: relative;
    margin: 0 auto;
    display: block;
    text-align: center;
    &:hover {
        .gallery__bt_close__icon {
            @include sprite-asset( bt_close_over );
        }
    }
}

.gallery__bt_close__icon {
    @include sprite-asset( bt_close_normal );
    position: relative;
    top: 50%;
    margin-top: -28px;
    display: inline-block;
}

.gallery__diaporama_holder {
    position: relative;
    top: 50%;
    margin: -310px;
    height: 478px;
}

.gallery_diaporama {
    position: relative;
    width: 319px;
    height: 478px;
    overflow: hidden;
    margin: 0 auto 0;
    
}

.gallery__controller {
    position: relative;
    width: 80px;
    left: 50%;
    top: -50%;
    margin-left: 230px;
    margin-top: -86px;
    background-color: #fff;
    text-align: center;
}

.gallery__controller__bt {
    cursor: pointer;
}

.gallery__controller__bt--top {
    @include sprite-asset( bt_prev_normal );
    &:hover {
        @include sprite-asset( bt_prev_over );
    }
}

.gallery__controller__pagination {
    font-size: 30px;
    color: #dfdfdf;
}

.gallery__controller__pagination--current {
    margin-top: 5px;
}

.gallery__controller__separator {
    margin: 3px auto;
}

.gallery__controller__pagination--total {
    margin-bottom: 5px;
}

.gallery__controller__bt--bottom {
    @include sprite-asset( bt_next_normal );
    &:hover {
        @include sprite-asset( bt_next_over );
    }
}

.menu {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    height: 70px;
    text-align: center;
    z-index: 2;
}

.menu__holder {
    display: inline-block;
}

.menu__item {
    float: left;
    width: 170px;
}

.menu__link {
    text-decoration: none;
    color: #93c8f1;
    line-height: 70px;
    display: block;
    font-size: 13px;
    &:hover {
        color: #359cdc;
        border-bottom: 5px #359cdc solid;
        height: 65px;
        background: transparent image-url( 'menu_arrow.png' ) no-repeat left top;
        background-position: 30px 30px;
    }
}

