@import "_mixins/get_sprite.scss";
@import "compass/css3";
@import "compass/css3/user-interface";

html, body {
    width: 100%;
    height: 100%;
    background-color: #359cdc;
    font-family: 'Graduate';
    overflow: hidden;
}

.separator--light {
    @include sprite-asset( separator_small_light );
}

.separator--gray {
    @include sprite-asset( separator_small_gray );
}

.separator--horizontal {
    @include sprite-asset( separator_dots );
}

.selector {
    position: relative;
    background: transparent image-url( "selector_animated.gif" ) no-repeat top left;
    width: 20px;
    height: 24px;
}

.bt_close {
    position: relative;
    margin: 0 auto;
    display: block;
    text-align: center;
    &:hover {
        .bt_close__icon {
            @include sprite-asset( bt_close_over );
        }
    }
}

.bt_close--gallery {
    @include sprite-asset( bt_close_top_bg );
}

.bt_close--contact {
    @include sprite-asset( bt_close_bottom_bg );
}

.bt_close__icon {
    @include sprite-asset( bt_close_normal );
    position: relative;
    top: 50%;
    margin-top: -28px;
    display: inline-block;
}

#contact,
#gallery,
#layer {
    display: none;
}

.main {
    position: relative;
    width: 100%;
    height: 100%;
}

.background,
.background__sky,
.background__ground {
    position: absolute;
    // bottom: 70px;
    width: 100%;
    height: 100%;
}

.background {
    overflow: hidden;
    @include translateZ( 0 );
    @include perspective( 1000 );
    @include backface-visibility( hidden );
}

.background__line {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.background__line--blue_dark {
    height: 575px;
    background-color: #37a3e7;
}

.background__line--blue_medium {
    height: 410px;
    background-color: #59b1e8;
}

.background__line--blue_light {
    height: 300px;
    background-color: #b0d3e8;
}

.background__line--yellow {
    height: 235px;
    background-color: #f8f4eb;
}

.background__line--orange_light {
    height: 180px;
    background-color: #f8e9e0;
}

.background__line--orange_medium {
    height: 155px;
    background-color: #f8dbce;
}

.background__line--red {
    height: 135px;
    background-color: #f8d1c3;
}

.background__line--green_dark {
    height: 125px;
    background-color: #a6aa59;
}

.background__line--green_light {
    height: 95px;
    background-color: #c7cc6b;
}

.background__line--brown {
    height: 90px;
    background-color: #e8af72;
}

.landscape {
    position: absolute;
    width: 100%;
    height: 100%;
    // @include translateZ( 0 );
    // @include perspective( 1000 );
    // @include backface-visibility( hidden );
}

.landscape__clouds {
    position: absolute;
    bottom: 560px;
    width: 100%;
    @include translateZ( 0 );
    @include perspective( 1000 );
    @include backface-visibility( hidden );
}

.landscape__cloud {
    position: absolute;
    left: 50%;
}

.landscape__cloud--cloud0 {
    @include sprite-asset( cloud0 );
    margin-left: 220px;
    top: -18px;
}

.landscape__cloud--cloud1 {
    @include sprite-asset( cloud1 );
    margin-left: 285px;
    top: 55px;
}

.landscape__cloud--cloud2 {
    @include sprite-asset( cloud2 );
    margin-left: -320px;
    top: 50px;
}

.landscape__cloud--cloud3 {
    @include sprite-asset( cloud3 );
    margin-left: -210px;
}

.landscape__cloud--cloud4 {
    @include sprite-asset( cloud4 );
    margin-left: 150px;
    top: 40px;
}

.landscape__characters {
    position: absolute;
    width: 100%;
    bottom: 279px;
    @include translateZ( 0 );
    @include perspective( 1000 );
    @include backface-visibility( hidden );
}

.landscape__character {
    position: absolute;
    left: 50%;
}

.landscape__character--human {
    @include sprite-asset( perso );
    margin-left: -200px;
    &>.eyes {
        top: 15px;
        left: 10px;
    }
}

.eyes {
    position: absolute;
}

.eye--human_right {
    left: 9px;
}

.eye {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #000;
}

.selector--human {
    position: relative;
    top: -30px;
    margin: 0 auto;
}

.landscape__character--dog {
    @include sprite-asset( dog );
    margin-left: -170px;
    top: 106px;
    &>.eyes {
        left: 14px;
        top: 4px;
    }
}

.landscape__tree {
    @include sprite-asset( tree );
    position: absolute;
    left: 50%;
    margin-left: 140px;
    bottom: 118px;
    @include translateZ( 0 );
    @include perspective( 1000 );
    @include backface-visibility( hidden );
}

.landscape__fences {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 160px;
    @include transform-style( preserve-3d );
}

.landscape__fences--left {
    @include sprite-asset( fence_left );
    position: absolute;
    left: 0;
    @include translateZ( 0 );
    @include perspective( 1000 );
    @include backface-visibility( hidden );
}

.landscape__fences--right {
    @include sprite-asset( fence_right );
    position: absolute;
    right: 0;
    @include translateZ( 0 );
    @include perspective( 1000 );
    @include backface-visibility( hidden );
}

.content {
    position: absolute;
    width: 540px;
    bottom: 179px;
    left: 50%;
    margin-left: -270px;
}

.logo {
    margin: 0 auto;
    position: relative;
    width: 255px;
    margin: 0 auto;
    @include translateZ( 0 );
    @include perspective( 1000 );
    @include backface-visibility( hidden );
}

.logo__title {
    @include sprite-asset( logo );
    position: relative;
    left: 5px;
}

.logo__icon {
    @include sprite-asset( logo_icon );
    position: relative;
    margin: 0 auto;
    top: -28px;
}

.content__separator_big_dots {
    position: relative;
    top: -5px;
    margin: 0 auto;
}

.content__description {
    text-align: center;
    color: #d9efff;
    font-size: 12px;
    position: relative;
    top: 3px;
}

.content__description--title {
    border: 0;
    margin: 0;
    padding: 0;
}

.content__description--title,
.content__description--link {
    color: #fff;
}

.content__description--link:hover {
    color: #d9efff;
}

.content__separator_horizontal {
    margin: 0 auto;
    margin-top: 30px;
}

.preview_world__banner {
    @include sprite-asset( banner_white );
    margin: 35px auto 0;
    text-align: center;
    color: #37a3e7;
    font-size: 10px;
    line-height: 28px;
    position: relative;
    z-index: 1;
    @include transform-origin( 50%, 50% ); 
}

.preview_world__button {
    position: relative;
    display: block;
    width: 155px;
    height: 65px;
    margin: 0 auto;
    top: -10px;
    overflow: hidden;
    span {
        display: block;
    }
}

.world_diaporama {
    position: relative;
    width: 100%;
    height: 100%;
    @include translateZ( 0 );
}

.world_diaporama__item {
    position: absolute;
    width: 100%;
    height: 100%;
}

.world_layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba( 95, 198, 255, .8 );
}

.world_layer__icon {
    @include sprite-asset( world_layer_icon );
    position: relative;
    margin: -14px auto 0;
    top: 50%;
}

.layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.layer--dark {
    background-color: rgba( 0, 0, 0, .5 );
}

.gallery {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include translateZ( 0 );
}

.gallery__diaporama_holder {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 470px;
    height: 478px;
    margin-left: -235px;
    margin-top: -239px;
}

.gallery_diaporama_cnt {
    position: relative;
    margin: 0 auto 0;
    width: 319px;
    height: 478px;
    overflow: hidden;
}

.gallery_diaporama {
    position: relative;
    width: 100%;
    height: 100%;
}

.gallery_diaporama__item {
    position: relative;
    width: 100%;
    height: 100%;
}

.gallery__controller {
    position: relative;
    width: 80px;
    left: 50%;
    top: -50%;
    margin-left: 230px;
    margin-top: -86px;
    background-color: #fff;
    text-align: center;
}

.gallery__controller__bt {
    cursor: pointer;
    @include user-select( none );
}

.gallery__controller__bt--top {
    @include sprite-asset( bt_prev_normal );
    &:hover {
        @include sprite-asset( bt_prev_over );
    }
}

.gallery__controller__pagination {
    font-size: 30px;
    color: #dfdfdf;
}

.gallery__controller__pagination--current {
    margin-top: 5px;
}

.gallery__controller__separator {
    margin: 3px auto;
}

.gallery__controller__pagination--total {
    margin-bottom: 5px;
}

.gallery__controller__bt--bottom {
    @include sprite-asset( bt_next_normal );
    &:hover {
        @include sprite-asset( bt_next_over );
    }
}

.contact {
    position: absolute;
    bottom: 70px !important;
    top: auto !important;
    background-color: #fff;
    width: 100%;
    height: 105px;
    border-bottom: 1px solid #eee;
}

.contact__banner {
    @include sprite-asset( banner_orange );
    position: relative;
    margin: 10px auto 0;
    text-align: center;
}

.contact__banner__description {
    position: relative;
    font-size: 9px;
    width: 300px;
    margin: 0 auto;
    color: #fff;
    top: 5px;
}

.contact__inputs {
    position: relative;
    margin: 10px auto 0;
    overflow: hidden;
    width: 361px;
    height: 36px;
}

.contact__inputs__separator {
    position: relative;
    top: 50%;
    margin: -4px 20px 0;
    float: left;
}

.contact__form {
    float: left;
    width: 206px;
}

.contact__form_success {
    float: left;
    width: 200px;
    color: #adadad;
    font-size: 10px;
    display: none;
}

.bt_basic {
    background-color: #fff;
    color: #ff993e;
    text-decoration: none;
    border: 1px solid #eee;
    font-size: 14px;
    padding: 10px;
    text-transform: uppercase;
    margin: 0;
    font-family: 'Graduate'; 
    display: block;
    &:hover {
        background-color: #fafafa ;
    }
}

.bt_basic--form {
    padding: 9px;
    float: left;
    cursor: pointer;
    width: 58px;
    height: 36px;
}

.bt_basic--contact {
    float: left;
}

.input {
    background-color: #f8f8f8;
    color: #adadad;
    font-size: 10px;
    height: 25px;
    border: 0;
    border-bottom: 3px solid #fbfbfb;
    font-family: 'Graduate';
    padding-left: 5px;
    padding-top: 5px;
    &:focus {
        outline: none;
        background-color: #f0f0f0;
    }
}

.input--mail {
    margin-top: 2px;
    margin-right: 10px;
    float: left;
    width: 132px;
}

.bt_close--contact {
    top: -72px;
    position: absolute;
    margin: 0;
    margin-left: -36px;
    left: 50%;
}

.menu {
    position: absolute;
    bottom: 0 !important;
    top: auto !important;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    height: 70px;
    text-align: center;
    z-index: 2;
    @include translateZ( 0 );
    @include perspective( 1000 );
    @include backface-visibility( hidden );
}

.menu__holder {
    display: inline-block;
}

.menu__item {
    float: left;
    width: 170px;
}

.menu__icon {
    background: transparent image-url( 'menu_arrow.png' ) no-repeat left top;
    visibility: hidden;
    opacity: 0;
    display: inline-block;
    width: 6px;
    height: 9px;
    position: relative;
    left: -10px;
}

.menu__link {
    text-decoration: none;
    color: #93c8f1;
    line-height: 70px;
    display: block;
    font-size: 13px;
    border-bottom: 5px #359cdc solid;
    height: 70px;
    @include transition-property( height, line-height );
    @include transition-duration( .25s, .25s );
    &:hover {
        color: #359cdc;
        line-height: 65px;
        height: 65px;
        .menu__icon {
            opacity: 1;
            visibility: visible;
        }
    }
}

