@import "nib"

html, body
    width 100%
    height 100%
    background-color #359cdc
    font-family 'Graduate'

.background
    position absolute
    bottom 70px
    width 100%

.background__line--blue_dark
    height 165px
    background-color #37a3e7

.background__line--blue_medium
    height 110px
    background-color #59b1e8

.background__line--blue_light
    height 65px
    background-color #b0d3e8

.background__line--yellow
    height 55px
    background-color #f8f4eb

.background__line--orange_light
    height 25px
    background-color #f8e9e0

.background__line--orange_medium
    height 20px
    background-color #f8dbce

.background__line--red 
    height 10px
    background-color #f8d1c3

.background__line--green_dark
    height 30px
    background-color #a6aa59

.background__line--green_light 
    height 5px
    background-color #c7cc6b

.background__line--brown
    height 20px
    background-color #e8af72

.content
    position absolute
    bottom 645px

.logo
    

.menu
    position absolute
    bottom 0
    width 100%
    background-color #fff
    overflow hidden
    height 70px
    text-align center

.menu__holder
    display inline-block

.menu__item
    float left
    width 170px

.menu__link
    text-decoration none
    color #93c8f1
    line-height 70px
    display block
    font-size 13px
    &:hover
        color #359cdc
        border-bottom 5px #359cdc solid
        height 65px

