@import "nib"

html, body
    width 100%
    height 100%
    background-color #359cdc
    font-family 'Graduate'

.menu
    position absolute
    bottom 0
    width 100%
    background-color #fff
    overflow hidden
    height 70px
    text-align center

.menu__holder
    display inline-block

.menu__item
    float left
    width 170px

.menu__link
    text-decoration none
    color #93c8f1
    line-height 70px
    display block
    font-size 13px
    &:hover
        color #359cdc
        border-bottom 5px #359cdc solid
        height 65px
