doctype 5
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width")
    meta(name="description", content="ModernHero is an iOS Adventure and Role Playing Game. Available on the AppStore. #modernhero")
    title ModernHero - Awesome iPhone game
    link(rel="Shortcut Icon", type="image/png", href="img/favicon.png")
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Graduate', type='text/css')
    link(rel='stylesheet', href='./css/reset.css')
    link(rel='stylesheet', href='./css/main.css')

    script(src='./js/vendors/requestAnimationFrame.js')
    script(src='./js/vendors/jquery-1.10.2.min.js')
    script(src='./js/vendors/greensock/TweenMax.min.js')
    script(src='./js/main.min.js')
body

  #main.main
    #background.background
      #background_sky.background__sky
        .background__line.background__line--blue_dark
        .background__line.background__line--blue_medium
        .background__line.background__line--blue_light
        .background__line.background__line--yellow
        .background__line.background__line--orange_light
        .background__line.background__line--orange_medium
        .background__line.background__line--red
      #background_ground.background__ground
        .background__line.background__line--green_dark
        .background__line.background__line--green_light
        .background__line.background__line--brown

    .landscape
      #clouds.landscape__clouds
        .landscape__cloud.landscape__cloud--cloud0
        .landscape__cloud.landscape__cloud--cloud1
        .landscape__cloud.landscape__cloud--cloud2
        .landscape__cloud.landscape__cloud--cloud3
        .landscape__cloud.landscape__cloud--cloud4 
      #characters.landscape__characters
        #character_human.landscape__character.landscape__character--human
          #selector_human.selector.selector--human
        #character_dog.landscape__character.landscape__character--dog
      #tree.landscape__tree
      #fences.landscape__fences
        #fence_left.landscape__fences--left
        #fence_right.landscape__fences--right

    #content.content
      .content__background
      .logo
        #logo_title.logo__title
        #logo_icon.logo__icon
      #content_separator_dots.content__separator_big_dots.separator--light
      #content_description.content__description
        h1#content_description_title.content__description--title modernhero
        #content_description_subtitle.content__description--subtitle is an epic pixel adventure game
        #content_description_credits.content__description--credits created by <a class="content__description--link" href="http://www.floz.fr">floz</a> & <a class="content__description--link" href="http://cargocollective.com/filsdegraphiste/">filsdegraphiste</a>
      #content_separator_horizontal.content__separator_horizontal.separator--horizontal
      #preview_world_holder.preview_world
        #preview_world_banner.preview_world__banner
          span VISIT THE WORLD
        a#preview_world_bt.preview_world__button(href="#")
          span.world_diaporama
            img.world_diaporama__item(src="img/world_diaporama_mountain.jpg", width="155", height="65")
            img.world_diaporama__item(src="img/world_diaporama_desert.jpg", width="155", height="65")
            img.world_diaporama__item(src="img/world_diaporama_volcan.jpg", width="155", height="65")
          span.world_layer
            span.world_layer__icon

  #layer.layer.layer--dark

  #gallery.gallery
    a#bt_close_gallery.bt_close.bt_close--gallery(href="#")
      span.bt_close__icon
    .gallery__diaporama_holder
      ul.gallery_diaporama
        li.gallery_diaporama__item
          img(src="img/gallery_diaporama_0.jpg", width="319", height="478")
        li.gallery_diaporama__item
          img(src="img/gallery_diaporama_1.jpg", width="319", height="478")
        li.gallery_diaporama__item
          img(src="img/gallery_diaporama_2.jpg", width="319", height="478")
        li.gallery_diaporama__item
          img(src="img/gallery_diaporama_3.jpg", width="319", height="478")
        li.gallery_diaporama__item
          img(src="img/gallery_diaporama_4.jpg", width="319", height="478")
        li.gallery_diaporama__item
          img(src="img/gallery_diaporama_5.jpg", width="319", height="478")
        li.gallery_diaporama__item
          img(src="img/gallery_diaporama_6.jpg", width="319", height="478")
      .gallery__controller
        .gallery__controller__bt.gallery__controller__bt--top
        .gallery__controller__pagination.gallery__controller__pagination--current 01
        .gallery__controller__separator.separator--gray
        .gallery__controller__pagination.gallery__controller__pagination--total 06
        .gallery__controller__bt.gallery__controller__bt--bottom

  #contact.contact
    a#bt_close_contact.bt_close.bt_close--contact(href="#")
      span.bt_close__icon
    .contact__banner
      .contact__banner__description.
        give us your e-mail to keep informed about the project, or 
        don't hesitate to contact us about our projects
    .contact__inputs
      a.bt_basic.bt_basic--contact(href="mailto:florian.zumbrunn@gmail.com") Contact us
      .contact__inputs__separator.separator--gray
      form.contact__form(name="form", action="#", method="post")
        input#input_mail.input.input--mail(type="email", placeholder="Enter your email", name="mail")
        input.bt_basic.bt_basic--form(type="submit", value="SEND")

  #menu.menu
    ul.menu__holder
      li.menu__item.selected
        a#btMenuAbout.menu__link(href='#') ABOUT
      li.menu__item 
        a#btMenuGallery.menu__link(href='#') GALLERY
      li.menu__item 
        a#btMenuContact.menu__link(href='#') CONTACTS

  //- script
  //-   document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
