doctype 5
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="description", content="Conte dragon")
    meta(name="viewport", content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width")
    title Tales of Heroes - Awesome iPhone game
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Graduate', type='text/css')
    link(rel='stylesheet', href='./css/reset.css')
    link(rel='stylesheet', href='./css/main.css')
body

  .background
    .background__line--blue_dark
    .background__line--blue_medium
    .background__line--blue_light
    .background__line--yellow
    .background__line--orange_light
    .background__line--orange_medium
    .background__line--red
    .background__line--green_dark
    .background__line--green_light
    .background__line--brown

  .content
    .content__background
    h1.logo
      span.logo__icon
    .content__separator.separator--blue
    .content__description


  .menu
    ul.menu__holder
      li.menu__item.selected
        a.menu__link(href='#') ABOUT
      li.menu__item 
        a.menu__link(href='#') GALLERY
      li.menu__item 
        a.menu__link(href='#') CONTACTS

  script(src='./js/vendors/requestAnimationFrame.js')
  script(src='./js/vendors/greensock/TweenMax.min.js')
  script(src='./js/vendors/jquery-1.9.1.min.js')
  script(src='./js/main.min.js')

  script
    document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
