doctype 5
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="description", content="Conte dragon")
    meta(name="viewport", content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width")
    title Tales of Heroes - Awesome iPhone game
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Graduate', type='text/css')
    link(rel='stylesheet', href='./css/reset.css')
    link(rel='stylesheet', href='./css/main.css')
body

  .background
    .background__line--blue_dark
    .background__line--blue_medium
    .background__line--blue_light
    .background__line--yellow
    .background__line--orange_light
    .background__line--orange_medium
    .background__line--red
    .background__line--green_dark
    .background__line--green_light
    .background__line--brown

  .landscape
    .landscape__clouds
    .landscape__characters
      .landscape__characters--human
      .landscape__characters--dog
    .landscape__tree
    .landscape__fences
      .landscape__fences--left
      .landscape__fences--right

  .content
    .content__background
    .logo
      .logo__title
      .logo__icon
    .content__separator_big_dots.separator--light
    .content__description.
      <h1 class="content__description--title">tales of heroes</h1>
      is an epic pixel adventure game
      <br />create by <a class="content__description--link" href="http://www.floz.fr">floz</a> & <a class="content__description--link" href="http://www.filsdegraphiste.fr/">fils de graphiste</a>
    .content__separator_vertical.separator--vertical
    .preview_world
      .preview_world__banner
        span VISIT THE WORLD
      a.preview_world__button(href="#")
        span.world_diaporama
          img.world_diaporama__item(src="img/diaporama_world_mountain.jpg", width="155", height="65")
          img.world_diaporama__item(src="img/diaporama_world_desert.jpg", width="155", height="65")
          img.world_diaporama__item(src="img/diaporama_world_volcan.jpg", width="155", height="65")
        span.world_layer
          span.world_layer__icon

  .menu
    ul.menu__holder
      li.menu__item.selected
        a.menu__link(href='#') ABOUT
      li.menu__item 
        a.menu__link(href='#') GALLERY
      li.menu__item 
        a.menu__link(href='#') CONTACTS

  script(src='./js/vendors/requestAnimationFrame.js')
  script(src='./js/vendors/greensock/TweenMax.min.js')
  script(src='./js/vendors/jquery-1.9.1.min.js')
  script(src='./js/main.min.js')

  script
    document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
